*{
    font-family: 'Open Sans';
}
body{
    background-color:  #102a43;
    color: white;
}
.top {
    height: 20vh;
    width: 100%;
}
.add__description {
    width:90%
}
.add__value {
    width:90%;
}
.budget__income, .budget__expenses {
}
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    /* border: solid 1px lightgray; */
    /* background: rgba(187,134,252, 0.4); */
    background: #627D98;
    /* margin: 6px 0px; */
    padding: 4px 4px 0;
    /* border-radius: 5px; */
    border: solid 0.5px #102a43;
}
.row:first-of-type{
    border-radius:10px 10px 0 0;
}
.row:last-of-type{
    border-radius:0 0 10px 10px;
}
.item__quantity {
    width: 20px;
    text-align: center;
    border: none;
    background: rgba(187,134,252, 0.1);
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.item__value, .item__description {
    text-align: right;
}
.item__description {
    font-size: 12px;
    letter-spacing: -0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    max-width: 160px;
    position: relative;
    top: -5px;
}
.left {
    top: 5px;
    position: relative;
    margin-left: 5px;
    background: transparent;
}
.btn-tiny{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.672); /*#3d45b6;*/
    color: #3d45b6;
    border: none;
}

.item__value {
    color: #60e4a0;
    font-weight: bold;
}
.check-mark{
    top: -10px;
    position: relative;
    background-color: #60e4a0;
    color:#102a43;
}
.add__container {
    text-align: center;
    margin-top: 5px;    
}
.header{
    /* display:flex;
    flex-wrap:wrap;
    justify-content: space-between; */
    background-color: #213548; 
    position: relative;
    /* left: -10px; */
    padding: 10px 20px 10px;
    /* border-radius: 0 10px 10px 0; */
    /* rgba(255, 255, 255, 0.60) !important; */
}
.description-field{
    margin:0;
    padding: 0;
    display: inline-block;
    width: 55%;
    border: solid 2px #60e4a0;
    color: white;
    background: transparent;
}
.value-field{
    margin:0;
    padding: 0;
    display: inline-block;
    width: 30%;
    border: solid 2px #60e4a0;
    color: white;
    background: transparent;
}
.small{
    font-size: 8px;
    font-weight: 100;
    text-align: left;
    left: 4px;
    color:#60e4a0;
    font-weight: bold;
    text-transform: uppercase;
}
input[type="text"], input[type="number"] {
    background: transparent;
    border: none;
    color: white;
    top: -2px;
    position: relative;
}
*:focus {
    outline: none;
}
.expenses{
    top: -10px;
    position: relative;
}

select.add__number__of__people {
    font-size: 30px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #60e4a0;
    position: relative;
}
.budget__value {
    display: inline-block;
    margin-left: 10px;
}
.green-font{
    color: #60e4a0;
}

.flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.align-center{
    text-align: center;
}
.budget__expenses--value-per-people {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.header-label {
    position: relative;
    top: -20px;
    font-size: 13px;
}
.total{
    text-align: center;
    align-items: center;
    display: block;
    font-size: 12px;
}
.left-header{
    position: relative;
    top: -10px;
}
@media(max-width:630px){
    .total{
        font-size: 16px;
    }
    .budget__expenses--value-per-people{
        font-size:30px;
    }
    select.add__number__of__people {
        font-size: 40px;
    }
    .left-header {
        position: relative;
        top: -15px;
        font-size: 1.25rem;
    }
    .item__description{
        position: relative;
        letter-spacing: normal;
        max-width: 200px;
    }
    .left {
        position: relative;
        margin-left: 10px;
    }
    .right.clearfix {
        padding-right: 5px;
    }
}
